{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="container">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Symbol</th>
                <th>Name</th>
                <th>Price</th>
                <th>Number of Shares</th>
                <th>Transaction</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{ row['timestamp'] }}</td>
                <td>{{ row['symbol'] }}</td>
                <td>{{ row['name'] }}</td>
                <td>{{ row['price']|usd }}</td>
                <td>{{ row['shares']|abs }}</td>
                <td>{{ row['type'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}